<body>

  <br />

  <h4>Top three blogs this week:</h4>


  <div class="select-blogs">

    <hr>
    <br />

    <div class="card-deck" style="padding: 0px 20px 0px 20px;">
      <div class="card">
        <img class="card-img-top" src="..." alt="Blog image goes here.">
        <div class="card-body">
          <h5 class="card-title">Blog title</h5>
          <p class="card-text">A short description of blog content.</p>
          <a href="/blogpage">
            <button class="pageButton">GO TO PAGE</button>
          </a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="..." alt="Blog image goes here.">
        <div class="card-body">
          <h5 class="card-title">Blog title</h5>
          <p class="card-text">A short description of blog content.</p>
          <a href="/blogpage">
            <button class="pageButton">GO TO PAGE</button>
          </a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="..." alt="Blog image goes here.">
        <div class="card-body">
          <h5 class="card-title">Blog title</h5>
          <p class="card-text">A short description of blog content.</p>
          <a href="/blogpage">
            <button class="pageButton">GO TO PAGE</button>
          </a>
        </div>
      </div>
    </div>

    <br />

  </div>

  <br />
  <h4>All blogs:</h4>

  <div class="select-blogs">

    <hr>

    <!-- <?php foreach ($blogs as $blog): ?> -->
    <br />

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Blog title</h5> <!-- <?php echo $blog['blogTitle']; ?> -->
        <p class="card-text">A short description of blog content.</p> <!-- <?php echo $blog['blogDesc']; ?> -->
        <a href="/blogpage"> <!-- /:id -->
          <button class="pageButton">GO TO PAGE</button>
        </a>
      </div>
    </div>

    <br />

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Blog title</h5>
        <p class="card-text">A short description of blog content.</p>
        <a href="/blogpage">
          <button class="pageButton">GO TO PAGE</button>
        </a>
      </div>
    </div>

    <br />

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Blog title</h5>
        <p class="card-text">A short description of blog content.</p>
        <a href="/blogpage">
          <button class="pageButton">GO TO PAGE</button>
        </a>
      </div>
    </div>

    <br />

  </div>


</body>
